@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Quicksand:wght@300..700&family=Forum&display=swap');

:root {
    --font-one: "Afacad Flux", sans-serif;
    --font-two: "Quicksand", sans-serif;
    --font-three: "Forum", serif;
}